.tdv--container
{
    padding: 120px 0px 0px 0px;}
.section--header
{
    font-size: 45px;
    color:#1a8bd6;
    font-weight: 900;
    margin:2px;
}
/* MyCarousel.css */
/* MyCarousel.css */
.carousel-container {
    max-width:100vw; /* Set your desired width */
    margin: auto;
    padding: 50px 0px;
    gap:20px;
    display: flex;
    
  
  }
  
  .slide {
    
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: aqua;
    gap:50px;
   
  }
 

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    margin:-50px;
    padding: 30px;
    font-size: 20px;
    right:25px;
    position: relative;
    line-height: 1;
    opacity: .75;
    color: rgb(10, 10, 10) !important;
    -webkit-font-smoothing: antialiased;
}
.slick-prev:before{
position: relative;
right: 30px;
}
.slick-next:before
{
    position: relative;
    left:-40px;
}
 
  
  
  